@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;

}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
}
#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00ff00; 
    color: #000; 
    padding: 15px;
    text-align: center;
    display: none;
    border-top: 6px solid #000; 
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.8); 
    margin-left: 2%; 
    margin-top: 50px;  
}

#cookie-banner button {
    background-color: #000; /* Fundo preto do botão */
    color: #fff; 
    border: 2px solid #00ff00; /* Borda verde */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    transition: background-color 0.3s, color 0.3s;
}

#cookie-banner button:hover {
    background-color: #00ff00; /* Fundo verde ao passar o mouse */
    color: #000; /* Texto preto ao passar o mouse */
}
header{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
}
main {
    width: 100%;
    display: inline-block;
}
.texto {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 150px 0 0 10%; 
    color: #000;
    width: 35%;
}
.img {
    float: right;
    width: 30%;
}

.img img {
    width: 100%;
}
h1 {
    text-align: center;
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
    text-align: justify;
}


