@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;

}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
}
#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00ff00; /* Fundo verde */
    color: #000; /* Texto preto */
    padding: 15px;
    text-align: center;
    display: none;
    border-top: 6px solid #000; /* Borda superior preta */
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.8); /* Sombra mais forte */
    margin-left: 2%;  /* Ajustado para mais à esquerda */
    margin-top: 50px;  /* Mais espaço abaixo do cabeçalho */
}

#cookie-banner button {
    background-color: #000; /* Fundo preto do botão */
    color: #fff; /* Texto branco no botão */
    border: 2px solid #00ff00; /* Borda verde */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    transition: background-color 0.3s, color 0.3s;
}

#cookie-banner button:hover {
    background-color: #00ff00; /* Fundo verde ao passar o mouse */
    color: #000; /* Texto preto ao passar o mouse */
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color)
    cursor: pointer;
    z-index: 10001;
}
.sais{
	margin-top: 50px;
}
h1{
	text-indent:20px;
}
h3{
	text-align: justify;
	margin-left: 20px;
	margin-right:20px;
}
.detalhes_compostos li {
	margin-left: 35px;
	list-style-type: disc;
	font-weight: bold;
	font-size: 20px;
}
.Exemplos li {
	margin-left: 35px;
	list-style-type: disc;
	font-weight: bold;
	font-size: 20px;
}
.imagem img{
	float:center;
	
}
.Introduçãos{
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
    flex: 1;
	background-color: #ffffff;
	padding-bottom: 100px;
}
.significa{
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
	padding-left: 0px;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
    flex: 1;
	background-color: #ffffff;
	padding-bottom: 100px;
	margin-bottom: 10px;
}

.escala-ph{
	
	width: 78%;
	margin-left: auto;
	margin-right: auto;
}

.escala-ph img {
	width: 100%;
}
footer{
    background-color: #000;
  }
  .footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
  }
  .socialIcons{
    display: flex;
    justify-content: center;
  }
  .socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
  }
  
  .socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
  }
  .footerNav{
    margin: 30px 0;
  }
  .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  
  }
  .footerNav ul li a:hover{
    opacity: 1;
  }
  .footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  .footerBottom p{
    color: white;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  @media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
  }
  .tabela{
    float: right;
    margin-right: 94px;
    border: solid #f49e09;
    margin-top: 126px;
  }
  .borderr{
    border: 2px solid transparent;  
    border-radius: 10px;  
    transition: border 0.3s ease-in-out;  
    width: 40%;
  }